:root{
    font-family: Arial, Helvetica, sans-serif;
}
.topbutton_link{
    position: fixed;
    left: 50px;
    bottom: 20px;
    text-decoration: none;
    width: 3%;
}
.header{
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
    height: 7rem;
}
.h-6{
    color: rgb(209, 85, 85);
}
.navigation{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    width: 100vh;
}
@media (max-width: 1024px){
    .navigation{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0px 100px 50px 100px;
    }
}
.navigation>figure{
    display: flex;
    justify-content: flex-start;
    margin: 40px 100px 40px 40px;
}
.sitelogo{
    width: 5rem;

}
.directory{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0 50px 0 50px;
    justify-content: center;
    width: 100vh;
    box-sizing: border-box;

}
@media (max-width: 1024px){
    .directory{
        display: flex;
        justify-content: center;
    }
}
.sitenav{
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 1rem;
    font-size: larger;
}
.home{
    margin: 10px;
    text-decoration: none;
    color: crimson;
}
.introduction{
    margin: 10px;
    text-decoration: none;
    color: crimson;
}
.work{
    margin: 10px;
    text-decoration: none;
    color: crimson;
}
.contact{
    margin: 10px;
    text-decoration: none;
    color: crimson;
}
.resume_button{
    display: flex;
    align-items: center;
    margin: 10px 0px 10px 0px;

}
.resume{
    display: block;
    width: 5rem;
    text-align: center;
    margin: 10px;
    padding: 20px;
    border-radius: 50px;
    text-decoration: none;
    background-color: rgb(209, 85, 85);
    color: white;
}

.home-box{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.intropic{
    width: 10rem;
    border-radius: 9999px;
}
.opening{
    text-align: center;
    font-size: 3rem;
}
.opening span{
    color: brown;
}
.button{
    display: block;
    width: 8rem;
    text-align: center;
    margin: 10px;
    padding: 20px;
    border-radius: 50px;
    text-decoration: none;
    background-color: rgb(209, 85, 85);
    color: white;
}
.button_link{
    text-decoration: none;
    font-weight: bold;
}
.introductionpage{
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}
.intro{
    display: flex;
    width: 50%;
    height: 50%;
    margin: 50px;
    padding: 0 100px 100px 0;
    border-radius: 10%;
    flex-direction: column;
    justify-content: center;
}
.my_picture{
    display: flex;
    justify-content: center;
    margin: 50px;
    width: 50%;
}
.mypic{
    width: 75%;
    height: 25%;
    background-color: rgb(209, 85, 85);
    border-radius: 9999px;
}
.social{
    display: flex;
    justify-content: center;
    width: 100%;
}
.social_link{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    width: 100%;
}
.instagram{
    width: 5%;
    display: flex;
    justify-content: center;
}
.linkedin{
    width: 5%;
    display: flex;
    justify-content: center;
}
.email{
    width: 5%;
    display: flex;
    justify-content: center;
}
.fa-instagram {
    color: rgb(209, 85, 85);
    text-decoration: none;
    margin: 10px;
}
.fa-linkedin {
    color: rgb(209, 85, 85);
    text-decoration: none;
    margin: 10px;
}
.h-6{
    text-decoration: none;
    width: 20px;
    margin: 10px;
    color: rgb(209, 85, 85);
}
#work{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.work1{
    background-color: rgb(209, 85, 85);
    margin: 50px;
    padding: 50px;
    width: 25%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    border-radius: 50px;
}
.sample{
    display: flex;
    justify-content: center;
}
.sample_pic{
    display: flex;
    justify-content: center;
    width: 110%;
    background-color: antiquewhite;
    padding: 10%;
    border-radius: 25%;
}
#contact{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contactform{
    width: 75%;
    background-color: rgb(209, 85, 85);
    padding: 80px;
    border-radius: 25px;
}
h2{
    color:antiquewhite ;
    border: 5px solid antiquewhite;
    border-radius: 25px;
    padding: 15px;
}
.row{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.col_25{
    width: 25%;
    padding: 10px;
    color: antiquewhite;
}
.col_75{
    width: 75%;
}
input, textarea{
    width:95%;
}
